html
{
  background-image:url("https://www.gannett-cdn.com/-mm-/e3e81bfc0c3b5b25fd374845a4fe75f42b18c394/c=150-0-1049-676/local/-/media/2016/06/17/Louisville/Louisville/636017722800212897-huell-money-breaking-bad.jpeg?quality=50&width=640");
  /*background-image: url("https://hips.hearstapps.com/sev.h-cdn.co/assets/16/33/980x779/gallery-1471536244-tswift-myspace.jpg?resize=480:*");*/
}

body
{
  text-align: center;
}

.mainsection
{
  background-color: blue;
  margin: 100px;
  padding: 10px;
}

.lyricsbox
{
  margin: 20px;
  padding: 10px;
  background-color: pink;
}

.maintextdiv
{
    margin: 20px;
}

.panel
{
  width: 200px;
  height: 200px;
  display:inline-block;
  cursor: pointer;
  filter: brightness(70%);
}

.panel:hover
{
  border-style: solid;
  border-color: cyan;
}

.top-left
{
  background-color: red;
  border-top-left-radius: 100%;
}

.top-right
{
  background-color: blue;
  border-top-right-radius: 100%;
}

.bottom-left
{
  background-color: green;
  border-bottom-left-radius: 100%;
}

.bottom-right
{
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

.active
{
  filter: brightness(100%);
}
#canvas{
  border:1px solid black;
  padding:5px;
  margin:0px auto;
  background-color:white;
}
